{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Kurskoll</title>
    <link rel="shortcut icon" type="image/png" href="https://cdn.pixabay.com/photo/2017/03/08/14/20/flat-2126884_960_720.png"/>
    <meta name="google-site-verification" content="uQE745TncnhKOaJUNXwliUYBIsrgvG3GFb336TwkbXk" />
    <meta name="description" content="Course administration integrating with google classroom, to help teachers administrate paperwork and keep track of students.">
    <meta name="author" content="Karl Enfors">
    <meta name="google" content="notranslate" />
    <meta name="google" content="nositelinkssearchbox" />
    <meta name="robots" content="nofollow">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://apis.google.com/js/api.js"></script>
    
</head>
<body class=" bg-primary m-0 p-0">
    <noscript>
        <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
        <app></app>
    </div>

    {% render_bundle 'app' %}

</body>
</html>